															--Huỳnh Phước Ngà_15130106
															--BÀI TẬP ĐỊA LÝ VN
USE master
CREATE DATABASE DIALYVN
GO
USE DIALYVN
CREATE TABLE TINH_TP(MA_T_TP VARCHAR(3),
TEN_T_TP NVARCHAR(20),
DT FLOAT ,
DS BIGINT,
MIEN NVARCHAR(10),
CONSTRAINT PRIKEY PRIMARY KEY(MA_T_TP));

CREATE TABLE BIENGIOI(NUOC NVARCHAR(15),
MA_T_TP VARCHAR(3),
CONSTRAINT PRIKEY1 PRIMARY KEY(NUOC,MA_T_TP));

CREATE TABLE LANGGIENG(MA_T_TP VARCHAR(3),
LG VARCHAR(3),
CONSTRAINT PRIKEY2 PRIMARY KEY(MA_T_TP,LG));


INSERT INTO BIENGIOI VALUES('CPC','AG'),
('CPC','DL'),('CPC','DT'),('CPC','GL'),('CPC','KG'),
('CPC','LA'),('CPC','BP'),('CPC','TN'),('LAO','GL'),('LAO','LC'),
('LAO','NT'),('LAO','BT'),('TQ','CB'),('TQ','LC');*/

--cau1
SELECT TEN_T_TP,DT,DS
FROM TINH_TP
WHERE DT>=5000;

SELECT TEN_T_TP,DT,DS
FROM TINH_TP
WHERE DT>=10000;
--cau 2

SELECT TEN_T_TP,DT
FROM TINH_TP
WHERE MIEN=N'Bắc';

select TEN_T_TP,DT
FROM TINH_TP
WHERE MIEN='Trung';
--cau3
select T.TEN_T_TP
FROM TINH_TP T JOIN BIENGIOI B ON T.MA_T_TP=B.MA_T_TP
WHERE NUOC='CPC';

--Cau4
SELECT (SUM(DT)/COUNT(TEN_T_TP))DT_TRUNGBINH
FROM TINH_TP
--cau5

select DS,TEN_T_TP
FROM TINH_TP
WHERE DT>7000;

--cau6
SELECT DS,TEN_T_TP
FROM TINH_TP
WHERE MIEN=N'Bắc';

--cau7
SELECT BG.NUOC
FROM TINH_TP T JOIN BIENGIOI BG ON T.MA_T_TP=BG.MA_T_TP
WHERE MIEN='NAM';

--Cau8
select AVG(DT) DT_TB
FROM TINH_TP;

--Cau9
SELECT TEN_T_TP,(DS/DT)Mat_Do
FROM TINH_TP;

--Cau10
select distinct TTP.TEN_T_TP
from TINH_TP TTP
where TTP.MA_T_TP in(select MA_T_TP from LANGGIENG where LG='LA');

--Cau11
select COUNT(*)Giap_CPC
from BIENGIOI
where NUOC='CPC';

--cau12
select TEN_T_TP,DT
FROM TINH_TP
WHERE DT=(SELECT MAX(DT)FROM TINH_TP);

--Cau13
select TEN_T_TP,SUM(DS/DT)Mat_Do_max
FROM TINH_TP
group by TEN_T_TP
having SUM(DS/DT)>=all(select SUM(DS/DT) from TINH_TP group by TEN_T_TP);

--Cau14
select TTP.TEN_T_TP
from TINH_TP TTP
where TTP.MA_T_TP in(select MA_T_TP from BIENGIOI group by MA_T_TP having COUNT(*)=2);

--CAU15 
SELECT TEN_T_TP,MIEN
FROM TINH_TP
GROUP BY TEN_T_TP,MIEN
--CAU16
select TTP.TEN_T_TP,COUNT(LG)LANG_GIENG_MAX
FROM TINH_TP TTP join LANGGIENG LG on TTP.MA_T_TP=LG.MA_T_TP
group by TTP.TEN_T_TP
having COUNT(LG)>=all(select COUNT(LG) from LANGGIENG group by MA_T_TP);
--Cau17
SELECT TTP.TEN_T_TP,DT
FROM TINH_TP TTP
WHERE DT<(SELECT AVG(DT) FROM TINH_TP);
--CAU18
SELECT TTP1.TEN_T_TP,TTP1.MIEN
FROM TINH_TP TTP1 JOIN TINH_TP TTP2 ON TTP1.MIEN=TTP2.MIEN
WHERE TTP1.MA_T_TP<>TTP2.MA_T_TP AND TTP1.MIEN='NAM';
--Cau19 ??
--Cau20 ??
																--BÀI TẬP NGK
																
use master
create database MayBanNuoc
go
use MayBanNuoc
set dateformat dmy;

 create table NGK(MaNGK char(10),
TenNGK nvarchar(30),
Quycach nvarchar(10),
MaLoaiNGK char(10),constraint fri_1 primary key(MaNGK) );

create table LOAINGK(MaLoaiNGK char(10),
TenLoaiNGK nvarchar(30),
MaNCC char(10),constraint fri_2 primary key(MaLoaiNGK));

create table NHACC(MaNCC char(10),
TenNCC nvarchar(50),
DiaChiNCC nvarchar(50),
DTNCC  int,constraint fri_3 primary key(MaNCC));

create table KH(MaKH  char(10),
TenKH nvarchar(20),
DCKH nvarchar(20),
DTKH int,constraint fri_4 primary key(MaKH));

create table DDH(SoDDH char(10),
NgayDH date,
MaNCC char(10),constraint fri_5 primary key(SoDDH));

create table CT_DDH(SoDDH char(10),
MaNGK char(10),
SLDat int,constraint fri_6 primary key(SoDDH,MaNGK));

create table PHIEUGH(SoPGH char(10),
NgayGH date,
SoDDH char(10),constraint fri_7 primary key(SoPGH));

create table CT_PGH(SoPGH char(10),
MaNGK char(10),
SLGiao int,
DGGiao int,constraint fri_8 primary key(SoPGH,MaNGK));

create table HOADON(SoHD char(10),
NgayLapHD date,
MaKH char(10),constraint fri_9 primary key(SoHD));

create table CT_HOADON(SoHD char(10),
MaNGK char(10),
SLKHMua int,
DGBan int,constraint fri_10 primary key(SoHD,MaNGK));

create table PHIEUHEN(SoPH char(10),
NgayLapPH date,
NgayHenGiao date,
MaKH char(10),constraint fri_11 primary key(SoPH));

create table CT_PH(SoPH char(10),
MaNGK char(10),
SLHen int,constraint fri_12 primary key(SoPH,MaNGK));

create table PHIEUTRANNO(SoPTN char(10),
NgayTra date,
SoTienTra int,
SoHD char(10),constraint fri_13 primary key(SoPTN));

insert NGK values('CC1','CoCa CoLa','Chai','NK1'),
('CC2','CoCa CoLa','Lon','NK1'),
('PS1','Pepsi','Chai','NK1'),
('PS2','Pepsi','Lon','NK1'),
('SV1','Seven Up','Chai','NK1'),
('SV2','Seven Up','Lon','NK1'),
('NO1','Number One','Chai','NK1'),
('NO2,','Number One','Lon','NK1'),
('ST1','Sting dau','Chai','NK1'),
('ST2','Sting dau','Lon','NK1'),
('C2','Trà C2','Chai','NK2'),
('0D',N'Trà xanh 0 độ','Chai','NK2'),
('ML1',N'Sữa Tươi Tuyệt Trùng ',N'Bịch','NK1'),
('WT1',N'Nước uống đóng chai','chai','NK2');
insert LOAINGK values('NK1',N'Nước Ngọt có gas','NC1'),
('NK2',N'Nước Ngọt có Gas','NC2'),
('NK3',N'Trà','NC1'),
('NK4',N'Sữa','NC2');
insert NHACC values ('NC1',N'Công ty NGK quốc tế CoCaCola',N'Xa lộ Hà Nội,Thủ Đức,TP.HCM',088967980),
('NC2',N'Công ty NGK quốc tế Pepsi',N'Bến Chương Dương,Quận 1,TP.HCM',083663366),
('NC3',N'Công ty NGK Bến Chương Dương',N'Hàm Tử,Q5,TP.Hcm',089456677);
insert KH values('KH01',N'Cửa Hàng BT','144 VTNT',088405996),
('KH02',N'Cửa hàng Trà','198/42 NTT',085974572),
('KH03',N'Siêu thị Coop','24 ĐTH',08654788);
insert DDH values('DDH01','2011/10/5','NC1'),
('DDH02','2011/5/20','NC1'),
('DDH03','2011/6/5','NC2'),
('DDH04','2011/6/3','NC2');
insert CT_DDH values('DDH01','CC1',20),
('DDH01','CC2',15),
('DDH01','PS1',18),
('DDH01','SV2',12),
('DDH02','CC2',30),
('DDH02','PS2',10),
('DDH02','SV1',5),
('DDH02','ST1',15),
('DDH02','C2',10),
('DDH02','OD',45),
('DDh04','CC1',8),
('DDH04','ST2',12);
insert PHIEUGH values('PGH01','2010/12/5','DDH01'),
('PGH02','2010/5/15','DDH01'),
('PGH03','2010/5/21','DDH02'),
('PGH04','2010/5/22','DDH02'),
('PGH05','2010/5/28','DDH03');
insert CT_PGH values('PGH01','CC1',15,5000),
('PGH01','CC2',15,4000),
('PGH01','SV2',10,4000),
('PGH02','SV2',2,4000),
('PGH03','CC2',30,5000),
('PGH03','PS2',10,4000),
('PGH03','ST1',15,9000),
('PGH03','C2',10,8000);
insert HOADON values('HD01','2010/5/10','KH01'),
('HD02','2010/5/20','KH01'),
('HD03','2010/6/5','KH02'),
('HD04','2010/6/16','KH02'),
('HD05','2011/6/22','KH02'),
('HD06','2010/7/8','KH03');
insert CT_HOADON values('HD01','CC1',20,6000),
('HD01','CC2',50,5000),
('HD02','ST1',40,10000),
('HD03','SV2',60,5000),
('HD04','PS2',25,5000),
('HD05','CC1',100,6000),
('HD05','SV1',12,8000),
('HD05','C2',80,9000),
('HD06','0d',55,1000),
('HD06','ST2',50,11000);
insert PHIEUHEN values('PH01','2010/5/8','2010/6/9','KH01'),
('PH02','2010/5/25','2010/6/28','KH02'),
('PH03','2010/6/1','2010/6/2','KH03');
insert CT_PH values('PH01','ST2',10),
('PH01','0D',8),
('PH02','CC1',20),
('PH03','ST1',7),
('PH03','SV2',12),
('PH03','CC2',9),
('PH04','PS2',15);
insert PHIEUTRANNO values('PTN01','18/5/2010',500000,'HD01'),
('PTN02','2010/6/1',350000,'HD01'),
('PTN03','2010/6/2',650000,'HD02'),
('PTN04','2010/6/16',1020000,'HD03'),
('PTN05','2010/7/1',1080000,'HD03');



--Cau1
select N.*,L.TenLoaiNGK,L.MaNCC
from NGK N join LOAINGK L on N.MaLoaiNGK=L.MaLoaiNGK;
--Cau2 
select N.*
from NHACC N
where N.DiaChiNCC LIKE'%TP.HCM';
--Cau3
select H.*
from HOADON H
where MONTH(H.NgayLapHD)=5 and YEAR(H.NgayLapHD)=2010;
--Cau4
select  distinct C.TenNCC
from NGK N join LOAINGK L on N.MaLoaiNGK=L.MaLoaiNGK
join NHACC C on C.MaNCC=L.MaNCC
where N.TenNGK='CoCa Cola';
--Cau5
select NCC.TenNCC,COUNT(N.MaLoaiNGK)SoLuong
from NGK N join LOAINGK L on N.MaLoaiNGK=L.MaLoaiNGK
join NHACC NCC on NCC.MaNCC=L.MaNCC
group by NCC.TenNCC
having COUNT(N.MaLoaiNGK)>=all(select(COUNT(MaLoaiNGK))
from NGK
group by MaLoaiNGK);
--Cau6 
select TenNCC
from NHACC
where TenNCC not in(
select NCC.TenNCC
from NHACC NCC join LOAINGK L on NCC.MaNCC=L.MaNCC
join NGK N on N.MaLoaiNGK=L.MaLoaiNGK
where N.TenNGK='Pepsi');
--Cau7
select NGK.*
from NGK
where NGK.MaNGK not in(select CT.MaNGK
from CT_HOADON CT);
--Cau8
select N.TenNGK,SUM(CT.SLKHMua)
from NGK N join CT_HOADON CT on N.MaNGK=CT.MaNGK
group by N.TenNGK;
--Cau9
select N.TenNGK,SUM(CTP.SLGiao)
from NGK N join CT_PGH CTP on N.MaNGK=CTP.MaNGK
group by N.TenNGK;
--Cau10
select CT.SoDDH,CT.MaNGK,SUM(CT.SLDat)TongSoLuong
from CT_DDH CT
group by CT.SoDDH,CT.MaNGK
having SUM(CT.SLDat)>=all (select sum(C.SLDat)
from CT_DDH C
group by C.MaNGK);
--Cau11
select *
from NGK
where NGK.TenNGK not in(
Select N.TenNGK
from NGK N join CT_PGH C on N.MaNGK=C.MaNGK
join PHIEUGH P on C.SoPGH=P.SoPGH
where month(P.NgayGH)=1)
--Cau12
select H.TenNGK
from NGK H
where H.TenNGK not in(
select N.TenNGK
from NGK N join CT_HOADON CT on CT.MaNGK=N.MaNGK
join HOADON H on H.SoHD=CT.SoHD
where year(H.NgayLapHD)=2010 and MONTH(H.NgayLapHD)=6)
--Cau13
select COUNT(CT.MaNGK)SoLoaiNuocBan
from CT_DDH CT
--Cau14
select K.*
from KH K
where K.MaKH in(
select H.MaKH
from HOADON H
group by H.MaKH
having COUNT(H.MaKH)>=all(select COUNT(MaKH)
from HOADON
group by MaKH));
--Cau16
select SUM(CT.SLKHMua*CT.DGBan)Tong_Doanh_Thu_2010
from HOADON H join CT_HOADON CT on H.SoHD=CT.SoHD
where YEAR(H.NgayLapHD)=2010;
--Cau18
select N.MaNGK,N.TenNGK,SUM(CT.SLKHMua)So_Luong_Ban
from NGK N join CT_HOADON CT on N.MaNGK=CT.MaNGK
join(select H.SoHD
from HOADON H
where MONTH(H.NgayLapHD)=5 and YEAR(H.NgayLapHD)=2010)a
on a.SoHD=CT.SoHD
group by N.MaNGK,N.TenNGK;
--Cau19
select N.*
from NGK N
where N.MaNGK in(
select CT.MaNGK
from CT_HOADON CT
group by CT.MaNGK
having sum(CT.SLKHMua)>=all(select SUM(SLKHMua)
from CT_HOADON
group by MaNGK));
--Cau20
select MAX(P.NgayGH)Ngay_Nhap_Hang_Gan_Nhat
from PHIEUGH P;
--Cau21
select COUNT(H.MaKH)So_Lan_Mua_Hang
from HOADON H
group by H.MaKH
having H.MaKH='KH01';
--Cau22
select CT.SoHD,SUM(CT.SLKHMua*CT.DGBan)Tong_Tien_Tren_HD
from CT_HOADON CT
group by CT.SoHD;
--Cau23
select H.SoHD,(H.NgayLapHD),H.MaKH,K.TenKH,SUM(CT.DGBan*CT.SLKHMua)S_Hoa_Don
from HOADON H join KH K on K.MaKH=H.MaKH
join CT_HOADON CT on CT.SoHD=H.SoHD
group by H.SoHD,H.NgayLapHD,H.MaKH,K.TenKH
order by H.NgayLapHD ASC,S_Hoa_Don DESC;
--Cau24
select CT.SoHD,SUM(CT.SLKHMua*CT.DGBan)TONGTRIGIA
from CT_HOADON CT join (select H.SoHD
from HOADON H
where DAY(H.NgayLapHD)=18 and MONTH(H.NgayLapHD)=6 and YEAR(H.NgayLapHD)=2010)a on a.SoHD=CT.SoHD
group by CT.SoHD
having SUM(CT.SLKHMua*CT.DGBan)>=all(select SUM(SLKHMua*DGBan)
from CT_HOADON
group by SoHD);
--Cau25
select MONTH(a.NgayLapHD)thang,N.TenNGK,COUNT(CT.MaNGK)SLBanTrongThang
from CT_HOADON CT join (select H.SoHD,H.NgayLapHD
from HOADON H
where YEAR(H.NgayLapHD)=2010)a
on a.SoHD=CT.SoHD
join NGK N on N.MaNGK=CT.MaNGK
group by N.TenNGK,MONTH(a.NgayLapHD)
--Cau26
select N.TenNGK,N.MaNGK
from NGK N
where N.MaNGK not in(
select N.MaNGK
from  CT_HOADON CT
join HOADON H on CT.SoHD=H.SoHD
where YEAR(H.NgayLapHD)=2010 and MONTH(H.NgayLapHD)=9);
--Cau27
select K.*
from KH K join	HOADON H on K.MaKH=H.MaKH
where YEAR(H.NgayLapHD)=2010 and MONTH(H.NgayLapHD)=9;
--Cau28
select N.TenNGK,COUNT(CT.MaNGK)SLBanTrongThang10
from NGK N join CT_HOADON CT on N.MaNGK=CT.MaNGK
join (select H.SoHD,H.NgayLapHD
from HOADON H
where YEAR(H.NgayLapHD)=2010 and MONTH(H.NgayLapHD)=10)a on a.SoHD=CT.SoHD
group by N.TenNGK;
--Cau29
select K.TenKH,K.DTKH,K.MaKH,K.DCKH,count(CT.MaNGK)SoLuong
from KH K join HOADON H on H.MaKH=K.MaKH
join CT_HOADON CT on CT.SoHD=H.SoHD
group by K.TenKH,K.DTKH,K.DCKH,K.MaKH;
--Cau30
select A.TenKH,A.MaKH,COUNT(P.SoHD)Nợ
from PHIEUTRANNO P join (select K.MaKH,K.TenKH,H.NgayLapHD,H.SoHD
from KH K join HOADON H on K.MaKH=H.MaKH
where YEAR(H.NgayLapHD)=2010)A on A.SoHD=P.SoHD
group by A.TenKH,A.MaKH
having COUNT(P.SoHD)>=all(select COUNT(SoHD)
from PHIEUTRANNO
group by SoPTN)
--Cau31
select COUNT(*)So_HD_Chua_Thanh_Toan_Het
from HOADON H
where H.SoHD in (select SoHD
from PHIEUTRANNO);
--Cau32
select H.SoHD,K.TenKH
from HOADON H join KH K on H.MaKH=K.MaKH
where H.SoHD not in(select SoHD
from PHIEUTRANNO);
--Cau33
select N.MaNGK,N.TenNGK,SUM(NG.SLDat)Tong_SL_Dat
from  NGK N join(select CT.MaNGK,CT.SLDat
from DDH D join CT_DDH CT on D.SoDDH=CT.SoDDH
where YEAR(D.NgayDH)=2010)NG on NG.MaNGK=N.MaNGK
group by N.MaNGK,N.TenNGK;
--Cau34
select K.MaKH,K.TenKH,SUM(NG.SLKHMua*NG.DGBan)Tong_So_Tien
from KH K join
(select CT.MaNGK,CT.SLKHMua,CT.DGBan,H.MaKH
from CT_HOADON CT join HOADON H on CT.SoHD=H.SoHD
where YEAR(H.NgayLapHD)=2010)NG on K.MaKH=NG.MaKH
group by K.MaKH,K.TenKH
order by SUM(NG.SLKHMua*NG.DGBan)DESC;
--Cau17???

															--BÀI TẬP QUẢN LÝ TOUR
use master
create database QLTourDL
go
use QLTOURDL
create table DIEMTQ(MADTQ CHAR(5),
TENDTQ NVARCHAR(80),
NOIDUNG NVARCHAR(80),
YNGHIA NVARCHAR(80),CONSTRAINT FRI_KEY1 PRIMARY KEY(MADTQ));
CREATE TABLE TOUR(MATOUR CHAR(5),
TENTOUR NVARCHAR(150),
SONGAY INT,
SODEM INT,CONSTRAINT FRI_2 PRIMARY KEY(MATOUR));
CREATE TABLE CT_THAMQUAN(MATOUR CHAR(5),
MADTQ CHAR(5),
THOIGIAN INT,CONSTRAINT FRI_3 PRIMARY KEY(MATOUR,MADTQ));
CREATE TABLE HOPDONG(SOHD CHAR(20),
NGAYLAPHD DATE,
NOIDUNGHD NVARCHAR(50),
SONGUOIDI INT,
NOIDON CHAR(5),
NGAYDIHD DATE,
MATOUR CHAR(5),
MADOAN CHAR(10),CONSTRAINT FRI4 PRIMARY KEY(SOHD));
CREATE TABLE DOAN(MADOAN CHAR(10),
TENDOAN NVARCHAR(20),
HOTENNDD NVARCHAR (20),
DIACHI NVARCHAR(20),DIENTHOAI INT,
CONSTRAINT FRI5 PRIMARY KEY(MADOAN));
CREATE TABLE DIEMDUNGCHAN(MADCC CHAR(10),
TENDCC NVARCHAR(50),
THANHPHO NVARCHAR(20)CONSTRAINT FRI0 PRIMARY KEY(MADCC));
CREATE TABLE LOTRINH(MANOIDI CHAR(10),
MANOIDEN CHAR(10),CONSTRAINT FRI6 PRIMARY KEY(MANOIDI,MANOIDEN));
CREATE TABLE LOTRINHTOUR(MATOUR CHAR(5),
MANOIDI CHAR(10),
MANOIDEN CHAR(10),SONGAYO INT,SONGAYDICUAPT INT,LOAIPHUONGTIEN NVARCHAR(20),LOAIKHACHSAN CHAR(10),CONSTRAINT FRI7 PRIMARY KEY(MATOUR,MANOIDI,MANOIDEN));
CREATE TABLE CHUYEN(MACHUYEN CHAR(10),TENCHUYEN NVARCHAR(30),NGAYDICUACHUYEN DATE,MANVHDDL CHAR(10),MATOUR CHAR(5),CONSTRAINT FI7 PRIMARY KEY(MACHUYEN));
CREATE TABLE HOPDONG_NV(SOHD CHAR(20),MANVHDDL CHAR(10),NOIDUNGHD_NV NVARCHAR(50),CONSTRAINT FRI8 PRIMARY KEY(SOHD,MANVHDDL));
CREATE TABLE NHANVIENHDDL(MANVHDDL CHAR(10),TENNV NVARCHAR(50),NGAYSINHNV DATE,PHAINV NCHAR(5),DIACHINV NVARCHAR(50),DIENTHOAINV INT,CONSTRAINT FRI9 PRIMARY KEY(MANVHDDL));

INSERT TOUR VALUES('SNT',N'SÀI GÒN-NHA TRANG DU THUỀN KHÁM PHÁ VỊNH HẠ LONG',4,3),
('SDL',N'SÀI GÒN-ĐÀ LẠT ĐIỂM HẸN TÌNH YÊU',4,3),
('SND',N'SÀI GÒN-NHA TRANG-ĐÀ LẠT CON ĐƯỜNG NỐ BIỂN VÀ HOA',5,4),
('SPQ',N'SÀI GÒN-PHÚ QUỐC SAY ĐẮM CÙNG THIÊN NHIÊN HOANG SƠ',3,2),
('SCP',N'SÀI GÒN-CÁI BÈ-VĨNH LONG-CẦN THƠ-CHÂU ĐỐC-HÀ TIÊN-PHÚ QUỐC NON NƯỚC HỮU TÌNH,THIÊN ĐƯỜNG RỰC NẮNG',6,5),
('SPT',N'SÀI GÒN-PHAN THIẾT NHỮNG MÀU SẮC CỦA CÁT',2,1),
('SHL',N'SÀI GÒN-ĐÀ NẴNG ĐÊM HẠ LONG HUYỀN DIỆU',3,2),
('SDN',N'SÀI GÒN-HỘI AN LUNG LINH SÔNG HÀN',3,2),
('SVT',N'SÀI GÒN VŨNG TÀU(DỰ KIẾN)',2,1);
insert CT_THAMQUAN VALUES('SNT','VNT',8),
('SNT','WDP',5),
('SNT','NTN',4),
('SDL','TTY',4),
('SDL','DVD',2),
('SNL','MNE',4),
('SPQ','CCR',4),
('SPQ','LMC',2),
('SPQ','PPS',4),
('SCP','CCR',2),
('SCP','LMC',4),
('SCP','BBS',3),
('SPT','MNE',2),
('SPT','BPT',3),
('SHL','PHA',4),
('SHL','HDT',10),
('SHL','VLH',24),
('SDN','PHA',4),
('SDN','HDT',8),
('SDN','VHL',8),
('SDN','NHS',4),
('SDN','SND',4);
INSERT DOAN VALUES('DN001',N'BÁN VE CHAI',N'Nguyễn Văn A','CT SAMCO',0123456789),
('DN002',N'BÁN VÉ SỐ',N'Nguyễn Văn A','DH TDT',0937635279),
('DN003',N'BÁN TẠP HÓA',N'NGUYỄN HOÀNG TIẾN','DH KHCN',0298723627),
('DN004',N'LỤM VE CHAY',N'Nguyễn Văn A','DH KTCN',0297265526),
('DN005',N'BÁN NƯỚC ĐÁ',N'NGÔ HỒNG THÁI','TRIBICO',09765555);
INSERT HOPDONG VALUES ('HD01','2010/6/15','THAM QUAN',32,'HCM','2010/6/19','SNT','DN001'),
('HD002','2010/7/10',N'NGHĨ DƯỠNG',40,'HCM','2010/7/15','SDL','DN002'),
('HD003','2010/7/15',N'ĐẠI HỘI',20,'HCM','2010/7/20','SND','DN003'),
('HD004','2010/6/10','HỌP',30,'HCM','2010/6/15','SPQ','DN003'),
('HD005','2010/6/20','THAM QUAN',50,'HCM','2010/6/22','SCP','DN003'),
('HD006','2010/7/1','NGHỈ DƯỠNG',25,'HCM','2010/7/5','SHL','DN005');
INSERT DIEMDUNGCHAN VALUES('DDC01','KHÁCH SẠN ĐƯỜNG NGUYỄN THIÊN THUẬT','NHA TRANG'),
('DDC02','KHÁCH SẠN ĐƯỜNG TRẦN PHÚ','NHA TRANG'),
('DDC03','KHÁCH SẠN ĐƯỜNG BÙI THỊ XUÂN','ĐÀ LAT'),
('DDC04','HỘI AN','ĐÀ NẴNG'),
('DDC05','HỒ ĐỘNG TIÊN','HẠ LONG'),
('DDC06','DINH CẬU','PHÚ QUỐC'),
('DDC07','BẾN NINH KIỀU','CẦN THƠ'),
('DDC08','CÀ NÁ-NINH CHỮ','PHAN THIẾT'),
('DDC09','MŨI NÉ','PHAN THIẾT'),
('DDC10','QUẬN 1,TP.HCM','TP.HCM');
INSERT LOTRINH VALUES('DDC10','DDC08'),
('DDC10','DDC09'),
('DDC10','DDC01'),
('DDC10','DDC02'),
('DDC08','DDC01'),
('DDC08','DDC02'),
('DDC09','DDC01'),
('DDC09','DDC02'),
('DDC01','DDC10'),
('DDC02','DDC10'),
('DDC10','DDC03'),
('DDC03','DDC10'),
('DDC10','DDC04'),
('DDC10','DDC05'),
('DDC04','DDC01'),
('DDC04','DDC02'),
('DDC05','DDC01'),
('DDC05','DDC02'),
('DDC10','DDC06'),
('DDC10','DDC07'),
('DDC07','DDC06'),
('DDC06','DDC10'),
('DDC07','DDC10');
INSERT CHUYEN VALUES('CH001',N'SÀI GÒN -NHA TRANG','2010/6/1','NV003','SNT'),
('CH002',N'SÀI GÒN-ĐÀ LẠT','2010/6/10','NV001','SDL'),
('CH003',N'SÀI GÒN-PHÚ QUỐC','2010/5/6','NV002','SPQ'),
('CH004',N'SÀI GÒN-CẦN THƠ-PHÚ QUỐC','2010/6/20','NV004','SCP'),
('CH005',N'SÀI GÒN-PHAN THIẾT','2010/7/1','NV005','SPT'),
('CH006',N'SÀI GÒN -HẠ LONG','2010/7/10','NV006','SHL'),
('CH007',N'SÀI GÒN-ĐÀ NẴNG','2010/8/10','NV007','SDN'),
('CH008',N'SÀI GÒN-HẠ LONG','2010/8/31','NV001','SHL'),
('CH009',N'SÀI GÒN-NHA TRANG','2010/9/1','NV003','SNT');
INSERT HOPDONG_NV VALUES ('HD001','NV001',N'HƯỚNG DẪN THAM QUAN'),
('HD002','NV002',N'HƯỚNG DẪN THAM QUAN'),
('HD003','NV003',N'HƯỚNG DẪN THAM QUAN'),
('HD004','NV001',N'HƯỚNG DẪN THAM QUAN'),
('HD005','NV002','HƯỚNG DẪN THAM QUAN'),
('HD006','NV004',N'HƯỚNG DẪN THAM QUAN'),
('HD 007','NV005',N'HƯỚNG DẪN THAM QUAN');
INSERT NHANVIENHDDL VALUES('NV001',N'LƯU DIỆC PHI','1980/11/1',N'NỮ','TP.HCM',01266123124),
('NV002',N'TRẦN HẢI NAM','1984/10/22','NAM','TP.HCM',01238611622),
('NV003',N'LÊ THỊ THÚ HẰNG','1988/8/7',N'NỮ',N'KHÁNH HÒA',0908867654),
('NV004',N'VÕ MINH PHI','1983/4/25','NAM',N'TÂY NINH',0932405406),
('NV005',N'THÁI THÀNH CÔNG','1986/10/10','NAM','LONG AN',0905321322),
('NV006',N'DIỆP BÍCH HẰNG','1987/10/12',N'NỮ','TP.HCM',NULL),
('NV007',N'TẠ MINH CÔNG','1976/7/6','NAM','TP.HCM',NULL);
--Cau1
select N.*
from NHANVIENHDDL N;
--Cau2
select T.*
from TOUR T;
--Cau3
select T.*
from TOUR T
where T.SONGAY>3;
--Cau4
select D.*
from DIEMTQ D;
--Cau5
select T.*
from LOTRINHTOUR L join TOUR T on L.MATOUR=T.MATOUR join DIEMDUNGCHAN D on D.MADCC=L.MANOIDEN
where D.THANHPHO='Nha Trang';
--Cau6
select N.TENNV,N.MANVHDDL,N.PHAINV,N.NGAYSINHNV,N.DIENTHOAINV,N.DIACHINV,COUNT(H.MANVHDDL)HD_NhieuNhat
from NHANVIENHDDL N join HOPDONG_NV H on H.MANVHDDL=N.MANVHDDL
group by N.TENNV,N.MANVHDDL,N.PHAINV,N.NGAYSINHNV,N.DIENTHOAINV,N.DIACHINV
having COUNT(H.MANVHDDL)>=all (select COUNT(MANVHDDL)
from HOPDONG_NV
group by MANVHDDL);
--Cau7
select HD.MaDoan ,SUM(HD.SoNguoiDi)TongSoNguoiDi
from HOPDONG HD join (select D.MADOAN,H.NGAYDIHD,H.SONGUOIDI,D.HOTENNDD
from HOPDONG H join DOAN D on H.MADOAN=D.MADOAN
where D.HOTENNDD=N'Nguyễn Văn A' and YEAR(H.NGAYDIHD)=2010)N on N.MADOAN=HD.MADOAN
group by HD.MADOAN;
--Cau8
select D.THANHPHO,COUNT(N.MANOIDEN)
from DIEMDUNGCHAN D join(select L.MaNoiDen,L.MaTour,H.NGAYDIHD
from LOTRINHTOUR L join HOPDONG H on H.MATOUR=L.MATOUR
where YEAR(H.NGAYDIHD)=2010)N on N.MANOIDEN=D.MADCC
group by D.THANHPHO
having D.THANHPHO='Nha Trang';
--Cau10
select N.*
from NHANVIENHDDL N
where N.MANVHDDL not in(select MANVHDDL	
from HOPDONG_NV HDN join HOPDONG HD  on HDN.SOHD=HD.SOHD
where YEAR(HD.NGAYDIHD)=2010and MONTH(HD.NGAYDIHD)=6 and DAY(HD.NGAYDIHD)=10 );
--Cau11
select D.MADOAN,D.TENDOAN,SUM(a.SONGUOIDI)MaxSoLuongDi
from DOAN D join (select H.NGAYLAPHD,H.SONGUOIDI,H.MADOAN
from HOPDONG H
where YEAR(H.NGAYLAPHD)=2010)a on a.MADOAN=D.MADOAN
group by D.MADOAN,D.TENDOAN
having SUM(a.SONGUOIDI)>=all(select SUM(HD.SONGUOIDI)
from HOPDONG HD
group by HD.MADOAN)
--Cau12
select T.MATOUR,T.TENTOUR,COUNT(N.LOAIPHUONGTIEN)SL_O_To_Duoc_SD
from TOUR T join (select L.*
from LOTRINHTOUR L
where L.LOAIPHUONGTIEN=N'Ô Tô')N on N.MATOUR=T.MATOUR
group by T.MATOUR,T.TENTOUR
having COUNT(N.LOAIPHUONGTIEN)>=all(select COUNT(LT.LOAIPHUONGTIEN)
from LOTRINHTOUR LT
group by LT.MATOUR,LT.LOAIPHUONGTIEN
having LT.LOAIPHUONGTIEN=N'Ô Tô')
--Cau13
select distinct T.*
from TOUR T join (select L.*
from LOTRINHTOUR L
where L.LOAIPHUONGTIEN=N'Ô Tô')n on n.MATOUR=T.MATOUR;
--Cau14
select T.MATOUR,T.TENTOUR,SUM(H.SONGUOIDI)So_Nguoi_Di
from TOUR T join HOPDONG H on T.MATOUR=H.MATOUR
group by T.MATOUR,T.TENTOUR
having SUM(H.SONGUOIDI)>=all(select SUM(SONGUOIDI)
from HOPDONG
group by MATOUR);
--Cau15
select T.MATOUR,T.TENTOUR,COUNT(CT.MADTQ)So_DTQ
from TOUR T join CT_THAMQUAN CT on T.MATOUR=CT.MATOUR
group by T.MATOUR,T.TENTOUR
having COUNT(CT.MADTQ)>=all(select COUNT(MADTQ)
from CT_THAMQUAN
group by MATOUR);
--Cau16
select T.*
from TOUR T join (select HD.*
from HOPDONG HD
where DAY(HD.NGAYLAPHD)<=10 and MONTH(HD.NGAYLAPHD)<=6 and YEAR(HD.NGAYLAPHD)<=2010)N on N.MATOUR=T.MATOUR
join(select C.*
from CHUYEN C
where DAY(C.NGAYDICUACHUYEN)<=10 and MONTH(C.NGAYDICUACHUYEN)<=6 and YEAR(C.NGAYDICUACHUYEN)<=2010)G on G.MATOUR=T.MATOUR;
--Cau17
select distinct T.*
from TOUR T join LOTRINHTOUR L on T.MATOUR=L.MATOUR
join HOPDONG HD on HD.MATOUR=T.MATOUR
where DAY(HD.NGAYLAPHD)<=10 and MONTH(HD.NGAYLAPHD)<=6 and YEAR(HD.NGAYLAPHD)<=2010;
--Cau18
select T.*
from TOUR T join CHUYEN C on T.MATOUR=C.MATOUR
where DAY(C.NGAYDICUACHUYEN)<=10 and MONTH(C.NGAYDICUACHUYEN)<=6 and YEAR(C.NGAYDICUACHUYEN)<=2010
--Cau19
select D.*
from DIEMDUNGCHAN D
where D.THANHPHO=N'Nha Trang';
--Cau20
select HD.SOHD,HD.NGAYLAPHD,D.MADOAN,D.TENDOAN,T.MATOUR,T.TENTOUR,SUM(HD.SONGUOIDI)So_Nguiu_Di_Nhieu_Nhat
from HOPDONG HD join TOUR T on HD.MATOUR=T.MATOUR
join DOAN D on D.MADOAN=HD.MADOAN
group by HD.SOHD,HD.NGAYLAPHD,D.MADOAN,D.TENDOAN,T.MATOUR,T.TENTOUR
having SUM(HD.SONGUOIDI)>=all(select SUM(SONGUOIDI)
from HOPDONG
group by MATOUR)

												--BÀI TẬP QUẢN LÝ ĐUA
use master
create database QLDua
go
use QLDua
create table 
LANTHI(LANTHI INT,NAMTHI INT,YNGHIA NVARCHAR(50),NGAYBATDAU DATE,NGAYKETTHUC DATE,CONSTRAINT PRI1 PRIMARY KEY(LANTHI));

CREATE TABLE 
CHANGDUA(MACD CHAR(5),
TENCD NVARCHAR(50),
DIEMXP NVARCHAR(20),
DIEMVEDICH NVARCHAR(20),
SOKM INT,
HINHTHUC NVARCHAR(20),
THOIGIANTHUONG INT,
THOIGIANTOIDA INT,CONSTRAINT PRI2 PRIMARY KEY(MACD));

CREATE TABLE CT_CHANG_LANTHI(MACD CHAR(5),LANTHI INT,CONSTRAINT PRI3 PRIMARY KEY(MACD,LANTHI));

CREATE TABLE NHATAITRO(MANTT CHAR(10),TENNTT NVARCHAR(50),DIACHINTT NVARCHAR(50),DIENTHOAINTT INT,CONSTRAINT PRI4 PRIMARY KEY(MANTT)); 

CREATE TABLE CT_TAITRO(LANTHI INT,MANTT CHAR(10),SOTIENTT INT,CONSTRAINT PRI5 PRIMARY KEY(LANTHI,MANTT));

CREATE TABLE QUOCGIA(MAQG CHAR(5),
TENQG NVARCHAR(20),CONSTRAINT PRI6 PRIMARY KEY(MAQG));

CREATE TABLE DOI(MADOI CHAR(5),TENDOI NVARCHAR(50),MAQG CHAR(5),CONSTRAINT PRIN PRIMARY KEY(MADOI));

CREATE TABLE VDV(MAVDV CHAR(10),TENVDV NVARCHAR(30),NGAYSINHVDV DATE,DIACHIVDV NVARCHAR(30),CHUCVUVDV NVARCHAR(30),MADOI CHAR(5),MAEKIP CHAR(6),CONSTRAINT PRI7 PRIMARY KEY(MAVDV));

CREATE TABLE EKIP(MAEKIP CHAR(6),TENEKIP NVARCHAR(50),BACSI NVARCHAR(30),TAIXE NVARCHAR(30),HLV NVARCHAR(50),CONSTRAINT PRI8 PRIMARY KEY(MAEKIP));

CREATE TABLE DSTHIDAU(LANTHI INT ,MAVDV CHAR(10),SOAO INT ,CONSTRAINT PRI9 PRIMARY KEY(LANTHI,MAVDV));

CREATE TABLE DANGKY(LANTHI INT,MADOI CHAR(5),NGAYDANGKY DATE,CONSTRAINT PRI10 PRIMARY KEY(LANTHI,MADOI));

CREATE TABLE GIAITHUONG(MAGT CHAR(5),TENGT NVARCHAR(50),SOTIEN INT ,MACD CHAR(5),LANTHI INT,MAVDV CHAR(10),CONSTRAINT PRI11 PRIMARY KEY(MAGT));

CREATE TABLE THANHTICH(MACD CHAR(5),LANTHI INT,MAVDV CHAR(10),THOIGIAN TIME,CONSTRAINT PRI12 PRIMARY KEY(MACD,LANTHI,MAVDV));

INSERT LANTHI VALUES(21,2009 ,N'V? NGU?N','2009/04/22','2009/04/30'),
(22,2010,N'TH?NG LONG V? ??T PH??NG NAM ','2010/4/20','2010/4/30'),
(23,2011,N'CHÀO M?NG ??I H?I ??NG','2010/4/21','2010/4/30');
INSERT CT_CHANG_LANTHI VALUES ('CD01',21),('CD02',21),('CD03',21),('CD04',21),('CD05',21),('CD06',21),('CD07',21),
('CD08',21),('CD09',21),('CD10',21),('CD11',21),('CD12',21),('CD13',21),('CD14',21),('CD15',21),('CD16',21),('CD17',21),
('CD18',21),('CD19',21),('CD20',22),('CD21',22),('CD22',22),('CD23',22),('CD24',22),('CD25',22),('CD26',22),('CD27',22),
('CD28',22),('CD29',22),('CD30',22),('CD31',22),('CD15',22),('CD16',22),('CD17',22),('CD32',22),('CD33',22);
INSERT NHATAITRO VALUES ('NTT01','COCA COLA','Q.1,TP.HCM',NULL),
('NTT02',N'PHÂN BÓN BÌNH ?I?N','LONG AN',NULL),
('NTT03',N'VINA MILK',N'QU?N TH? ??C,TP.HCM',NULL),
('NTT04',N'CONG TY ADC',N'V?NH LONG',NULL),
('NTT05',N'CÔNG TY FPT',N'QU?N 3,TP.HCM',NULL),
('NTT06',N'BÓNG ?ÈN ?I?N QUANG',N'QU?N PHÚ NHU?N,TP.HCM',NULL),
('NTT07',N'SÂN BÓNG THÀNH LONG',N'BÌNH CHÁNH,TP.HCM',NULL);
INSERT CT_TAITRO VALUES(21,'NTT01',50000000),
(21,'NTT02',40000000),
(21,'NTT03',350000000),
(21,'NTT04',500000000),
(21,'NTT05',30000000),
(21,'NTT06',60000000),
(21,'NTT07',300000000),
(21,'NTT08',25000000),
(21,'NTT09',50000000);
INSERT QUOCGIA VALUES ('VNA',N'VI?T NAM'),
('LAO',N'LÀO'),
('ADO',N'?N ??'),
('MCO',N'MÔN C?'),
('CPC','CAMPUCHIA'),
('KOR',N'HÀN QU?C');
INSERT DOI VALUES('ADCV',N'ADC TRUYỀN HÌNH VĨNH LONG','VNA'),
('BSG1',N'B?O V? TH?C V?T SÀI GÒN 1','VNA'),
('BSG2',N'B?O V? TH?C V?T SÀI GÒN 2','VNA'),
('VNSH',N'VINASUM TP.HCM','VNA'),
(N'DĐT',N'DOMESCO ??NG THÁP','VNA'),
('BNG',N'BVTV TI?N GIANG','VNA'),
('QK7',N'QUÂN KHU 7','VNA'),
('MOCO',N'MÔNG C?','MCO'),
('KORE',N'SEUL HÀN QU?C','KOR'),
('CBD',N'C?P THOÁT N??C MÔI TR??NG BÌNH D??NG','VNA');
INSERT DSTHIDAU VALUES
(21,'VDV01',1),
(21,'VDV02',2),
(21,'VDV03',3),
(21,'VDV04',4),
(21,'VDV05',5),
(21,'VDV06',6),
(21,'VDV07',7),
(21,'VDV08',8),
(21,'VDV09',9),
(21,'VDV10',10),
(21,'VDV11',11),
(21,'VDV12',12),
(21,'VDV13',13),
(21,'VDV14',14),
(21,'VDV15',15),
(21,'VDV16',16),
(21,'VDV17',17),
(21,'VDV18',18),
(21,'VDV19',19),
(21,'VDV20',20),
(21,'VDV21',21),
(22,'VDV21',22),
(22,'VDV22',23),
(22,'VDV23',24);
INSERT DANGKY VALUES
(21,'BSG1','2009/4/10'),
(21,'BSG2','2009/4/10'),
(21,'DĐT','2009/4/10'),
(21,'BNG','2009/4/12'),
(21,'MOCO','2009/4/12'),
(21,'KORE','2009/4/12'),
(21,'CBD','2009/4/12'),
(21,'VNSH','2010/4/5'),
(22,'VNSH','2010/4/9'),
(22,'CBD','2010/10/9');
INSERT GIAITHUONG VALUES('GT01',N'ÁO VÀNG',30000000,'cd01',22,'vdv05'),
('GT02',N'ÁO ĐỎ',25000000,null,22,NULL),
('GT03',N'ÁO XANH',20000000,'cd01',22,'vdv07'),
('GT04',N'NHẤT ĐỒNG ĐỘI CHUNG CUỘC',50000000,NULL,NULL,NULL),
('GT05',N'NHÌ ĐỒNG ĐỘI CHUNG CUỘC',40000000,NULL,NULL,NULL),
('GT06',N'BA ĐỒNG ĐỘI CHUNG CUỘC',30000000,NULL,NULL,NULL),
('GT07',N'VUA LEO ĐÈO',10000000,null,22,'vdv04'),
('GT08',N'GIẢI PHONG CÁCH',20000000,NULL,NULL,NULL);
INSERT THANHTICH VALUES('CD01',21,'VDV01','4:30:36'),
('CD01',21,'VDV02','4:28:12'),
('CD01',21,'VD03','4:32:24'),
('CD01',21,'VDV04','4:33:6'),
('CD01',21,'VDV05','4:35:15'),
('CD01',21,'VDV06','4:35:19'),
('CD01',22,'VDV07','4:29:10'),
('CD01',22,'VD09','3:0:0'),
('CD01',22,'VDV08','4:29:30'),
('CD01',21,'VDV09','4:31:10'),
('CD01',21,'VDV10','4:31:12'),
('CD01',22,'VDV10','4:0:0'),
('CD01',22,'VDV9','4:0:1'),
('CD02',22,'VDV8','4:0:0'),
('CD02',22,'VDV7','4:0:1'),
('CD02',22,'VDV01','3:0:0')
--CAU1
SELECT L.LANTHI SOLANTOCHUC
FROM LANTHI L
WHERE L.LANTHI>=ALL(SELECT LANTHI
FROM LANTHI);
--CAU2
SELECT L.*,(DAY(L.NGAYKETTHUC)-DAY(L.NGAYBATDAU))TGDaiNhat
FROM LANTHI L
GROUP BY L.LANTHI,L.NAMTHI,L.NGAYBATDAU,L.NGAYKETTHUC,L.YNGHIA
having (DAY(L.NGAYKETTHUC)-DAY(L.NGAYBATDAU))>=ALL(SELECT (DAY(NGAYKETTHUC)-DAY(NGAYBATDAU))
FROM LANTHI);
--CAU3
SELECT CT.MANTT,CT.LANTHI,N.TENNTT,SUM(CT.SOTIENTT)TONGSOTIEN_MAX
FROM NHATAITRO N JOIN CT_TAITRO CT ON N.MANTT=CT.MANTT
GROUP BY CT.MANTT,CT.LANTHI,N.TENNTT
HAVING SUM(CT.SOTIENTT)>=ALL(SELECT SUM(SOTIENTT)
FROM CT_TAITRO
GROUP BY MANTT);
--CAU4
SELECT CT.LANTHI,COUNT(CT.MACD)SOCHAN
FROM CT_CHANG_LANTHI CT
GROUP BY CT.LANTHI
HAVING CT.LANTHI=22;
--CAU5
SELECT D.LANTHI,COUNT(D.MAVDV)SOVDV
FROM DSTHIDAU D
GROUP BY D.LANTHI
HAVING D.LANTHI=22;
--CAU6
SELECT D.MADOI,D.TENDOI,Q.TENQG
FROM DOI D JOIN QUOCGIA Q ON Q.MAQG=D.MAQG
JOIN DANGKY DK ON DK.MADOI=D.MADOI
WHERE DK.LANTHI=22;
--CAU7
SELECT E.*
FROM EKIP E JOIN VDV V ON E.MAEKIP=V.MAEKIP
JOIN DOI D ON D.MADOI=V.MADOI
WHERE D.TENDOI=N'ADC TRUYỀN HÌNH VĨNH LONG';
--CAU8
SELECT G.LANTHI,SUM(G.SOTIEN)TONGGIAITHUONG
FROM GIAITHUONG G
GROUP BY G.LANTHI
HAVING G.LANTHI=22;
--Cau9
select VD.*
from VDV VD
where VD.MAVDV in
(select G.MAVDV
from GIAITHUONG G
where G.LANTHI=22 and G.MACD='cd01' and G.TENGT=N'Áo Vàng')
--Cau10
select v.*
from VDV v
where v.MAVDV in(
select GT.MAVDV
from GIAITHUONG GT 
where GT.LANTHI=22 and GT.MACD='cd01' and GT.LANTHI=22 and GT.TENGT=N'áo xanh');

--Cau11
SELECT V.*
FROM VDV V
WHERE V.MAVDV IN(
select GT.MAVDV
from GIAITHUONG GT
where GT.TENGT=N'VUA LEO ĐÈO');
--CAU13
SELECT V.MAVDV,V.TENVDV,MIN(A.THOIGIAN)MIN_TG
FROM VDV V JOIN 
(SELECT T.THOIGIAN,T.MAVDV
FROM THANHTICH T
WHERE T.LANTHI=22)A ON A.MAVDV=V.MAVDV
GROUP BY V.MAVDV,V.TENVDV
HAVING MIN(A.THOIGIAN)<=ALL(SELECT MIN(THOIGIAN)
FROM THANHTICH
GROUP BY MAVDV);
--CAU14
SELECT D.*
FROM DOI D
WHERE D.MADOI IN(
SELECT V.MADOI
FROM GIAITHUONG G JOIN VDV V ON G.MAVDV =V.MAVDV
WHERE (G.TENGT=N'ÁO VÀNG'OR G.TENGT=N'ÁO XANH' OR G.TENGT=N'ÁO ĐỎ')AND G.LANTHI=22)

												--BÀI TẬP QUẢN LÝ NHÂN SỰ
use master
create database QLNhanSu
go
use QLNhanSu
create table PHONGBAN(MAPB CHAR(5),
TENPB NVARCHAR(30),
DIENTHOAIPB INT,TRINHDO NVARCHAR(10),CONSTRAINT FRI1 PRIMARY KEY(MAPB));
CREATE TABLE CHUCVU(MACV CHAR(5),TENCV NVARCHAR(20),HESOLUONG INT,PHUCAPCV INT CONSTRAINT PRI2 PRIMARY KEY(MACV));
CREATE TABLE QDCV(SOQDCV INT,NGAYQDCV DATE,MACV CHAR(5),CONSTRAINT PRI3 PRIMARY KEY(SOQDCV));
CREATE TABLE NV(MANV CHAR(5),HOTENNV NVARCHAR(30),NGAYSINHNV DATE,DIACHINV NVARCHAR(50),DIENTHOAINV INT,MAPB CHAR(5),MACV CHAR(5),GIOITINH NVARCHAR(5),CONSTRAINT PRI4 PRIMARY KEY(MANV));
CREATE TABLE QDTD(SOQDTD INT,MANV CHAR(5),NGAYQDTD DATE,TGIANTHUVIEC NVARCHAR(20),LUONGTHUVIEC INT,NOIDUNG NVARCHAR(30),CONSTRAINT PRI5 PRIMARY KEY(SOQDTD,MANV));
CREATE TABLE HOPDONG(SOHD INT,NGAYKYHD DATE,MANV CHAR(5),MALOAIHD CHAR(5),CONSTRAINT PRI6 PRIMARY KEY(SOHD));
CREATE TABLE LOAIHD(MALOAIHD CHAR(5),TENLOAIHD NVARCHAR(30),THOIHANHD DATE,CONSTRAINT PRI7 PRIMARY KEY(MALOAIHD));
CREATE TABLE QDLUONG(SOQDL INT,NGAYQDL DATE,MUCLCB INT,MANV CHAR(5),CONSTRAINT PRI8 PRIMARY KEY(SOQDL));
CREATE TABLE PHUCAP(MAPC CHAR(5),TENPC NVARCHAR(30),TIENPC INT,CONSTRAINT PRI9 PRIMARY KEY(MAPC));
CREATE TABLE CT_PC_QDL(MAPC CHAR(5),SOQDL INT,CONSTRAINT PRI10 PRIMARY KEY(MAPC,SOQDL));
CREATE TABLE BCC(MABCC CHAR(5),TUNGAY DATE,DENNGAY DATE,CONSTRAINT PRI11 PRIMARY KEY(MABCC));
CREATE TABLE CT_BCC_NV(MABCC CHAR(5),MANV CHAR(5),CONSTRAINT PRI12 PRIMARY KEY(MABCC,MANV));
CREATE TABLE PHIEUPT(SOPTT INT,NGAYPT DATE,HINHTHUCPT NVARCHAR(30),CONSTRAINT PRI13 PRIMARY KEY(SOPTT));
CREATE TABLE CT_PPT_NV(SOPPT INT,MANV CHAR(5),CONSTRAINT PRI14 PRIMARY KEY(SOPPT,MANV));
INSERT PHONGBAN VALUES('P1',N'PHÒNG KẾ HOẠCH TÀI CHÍNH',0948417042,'ĐẠI HỌC'),
('P2',N'PHÒNG BAN 2',012345678,'CAO HỌC'),
('P3',N'PHÒNG BAN 3',09876543,'THPT'),
('P4',N'PHÒNG BAN 4',01234567,'THẠC SĨ'),
('P5',N'PHÒNG BAN 5',099123456,'TRUNG CẤP');
INSERT CHUCVU VALUES('CV1',N'PHÓ PHÒNG',5,50000),
('CV2',N'CHỨC VỤ 2',2,100000),
('CV3',N'CHỨC VỤ 3',3,150000),
('CV4',N'CHỨC VU 4',4,200000);
INSERT QDCV VALUES(1,'1997/11/6','CV1'),
(2,'1990/11/8','CV3'),
(3,'1990/8/8','CV4'),
(4,'1990/8/7','CV4');
INSERT NV VALUES ('NV01',N'HUỲNH PHƯỚC NGÀ','1997/11/6',N'TP.HCM',0166777889,'P1','CV1',N'NAM'),
('NV02',N'TRẦN NGỌC CƯỜNG','1955/1/1',N'KHU PHỐ 1',09887766,'P2','CV2',N'NỮ'),
('NV03',N'TRẦN MINH TUẤN','1945/1/2',N'KHU PHỐ 2',088178765,'P3','CV3',N'NỮ'),
('NV04',N'HUỲNH VĂN PHAN','1944/7/21',N'TP.HCM',099133212,'P4','CV4',N'NAM');
INSERT QDTD VALUES(1,'NV01','2010/1/2',N'1 THÁNG',2500000,N'CULY'),
(2,'NV02','2011/1/1',N'2 THÁNG',30000000,N'MANAGER'),
(3,N'NV03','2012/9/9',N'3 THÁNG',3500000,N'DIRECTOR'),
(4,N'NV04','2014/8/8',N'4 THÁNG',4000000,N'EMPLOYEE');
INSERT HOPDONG VALUES(1,'2015/12/2','NV01','HD01'),
(2,'2015/2/1','NV01','HD04'),
(3,'2015/2/2','NV03','HD02'),
(4,'2014/1/1','NV04','HD03')
INSERT LOAIHD VALUES('HD01',N'MUA BÁN NHÀ ĐẤT','2016/9/1'),
('HD02',N'THIẾT KẾ PHẦN MỀM','2016/10/1'),
('HD03',N'THIẾT KẾ PHẦN CỨNG','2016/1/1'),
('HD04',N'THIẾT KẾ MẠNG','2016/9/1');
INSERT QDLUONG VALUES (1,'2001/1/1',3000000,'NV01'),
(2,'2001/1/1',4000000,'NV02'),
(3,'2002/1/1',5000000,'NV03'),
(4,'2004/1/1',6000000,'NV04');
INSERT PHUCAP VALUES ('PC1',N'TIỀN ĂN',200000),
('PC2',N'TIỀN UỐNG',300000),
('PC3',N'TIỀN THUỐC',90000),
('PC4',N'TIỀN NGỦ',200000);
INSERT CT_PC_QDL VALUES('PC1',1),
('PC2',2),
('PC3',3),
('PC4',4);
INSERT BCC VALUES('B1','2001/1/1','2005/1/1'),
('B2','2002/1/1','2002/1/2'),
('B3','2001/1/1','2005/1/3'),
('B4','2002/1/1','2003/1/1');
INSERT CT_BCC_NV VALUES ('B1','NV01'),
('B2','NV02'),
('B3','NV03'),
('B4','NV04');
INSERT PHIEUPT VALUES(1,'2010/10/1',N'MUA BÁN'),
(2,'2001/1/1',N'TRAO ĐỔI'),
(3,'2004/1/1',N'GIAO DICH'),
(4,'2010/10/1',N'ĐẶC CỌC');
INSERT CT_PPT_NV VALUES(1,'NV01'),
(2,'NV02'),
(3,'NV03'),
(4,'NV04');
--Cau1
select COUNT(*)So_Nhan_Vien
from NV;
--Cau2
select COUNT(*)Tong_So_PB
from PHONGBAN
--Cau3
select N.*
from BCC B join CT_BCC_NV C on B.MABCC=C.MABCC
join NV N on N.MANV=C.MANV
where DATEDIFF(day,B.TUNGAY,B.DENNGAY)>=1095;
--Cau4
select N.HOTENNV ,C.HESOLUONG
from NV N join CHUCVU C on N.MACV=C.MACV
ORDER BY N.HOTENNV ASC,C.HESOLUONG DESC;
--CAU5
SELECT N.HOTENNV,C.HESOLUONG
FROM NV N JOIN PHONGBAN P ON N.MAPB=P.MAPB
JOIN CHUCVU C ON C.MACV=N.MACV
WHERE N.GIOITINH=N'NỮ' AND P.TRINHDO=N'ĐẠI HỌC'
--CAU6
SELECT N.*
FROM NV N JOIN PHONGBAN P ON N.MAPB=P.MAPB
JOIN CHUCVU C ON C.MACV=N.MACV
WHERE P.TENPB=N'PHÒNG KẾ HOẠCH TÀI CHÍNH' AND C.HESOLUONG>=3;
--CAU7
SELECT N.HOTENNV,N.NGAYSINHNV,N.GIOITINH
FROM NV N
WHERE N.DIACHINV=N'TP.HCM'
--CAU9
select N.*
from NV N
WHERE (DATEDIFF(YEAR,N.NGAYSINHNV,'2016')>=60 AND N.GIOITINH=N'NAM')OR (DATEDIFF(YEAR,N.NGAYSINHNV,'2016')>=55 AND N.GIOITINH=N'NỮ');
--CAU10
SELECT P.MAPB,P.TENPB,COUNT(N.MANV)
FROM PHONGBAN P JOIN NV N ON N.MAPB=P.MAPB
GROUP BY P.MAPB,P.TENPB;
--CAU12
SELECT N.HOTENNV
FROM NV N JOIN CHUCVU C
ON N.MACV=C.MACV
WHERE C.TENCV=N'PHÓ PHÒNG';
--CAU13
SELECT N.MANV,N.HOTENNV,COUNT(H.SOHD)SOLANKYHD
FROM NV N JOIN HOPDONG H ON N.MANV=H.MANV
GROUP BY N.MANV,N.HOTENNV;
--CAU14
SELECT N.MANV,N.HOTENNV
FROM NV N JOIN 
HOPDONG H ON N.MANV=H.MANV JOIN LOAIHD L ON H.MALOAIHD=L.MALOAIHD
WHERE (DATEDIFF(DAY,H.NGAYKYHD,L.THOIHANHD)-DATEDIFF(DAY,H.NGAYKYHD,'2016/5/28'))<=30;
--CAU15
SELECT N.MANV,N.HOTENNV,SUM(Q.MUCLCB)
FROM NV N JOIN QDLUONG Q ON N.MANV=Q.MANV
GROUP BY N.MANV,N.HOTENNV
HAVING SUM(Q.MUCLCB)>=ALL(SELECT SUM(MUCLCB)
FROM QDLUONG
GROUP BY MANV);
--CAU18
SELECT C.*
FROM PHIEUPT P JOIN CT_PPT_NV C ON P.SOPTT=C.SOPPT
WHERE MONTH(P.NGAYPT)=10 AND YEAR(P.NGAYPT)=2010
																
																
